<!-- // NAVBAR FOR LANDING PAGE ONLY -->
<!-- navbar turns transparent when it reached lg, added transition on lg breakpoint using tailwind-->
<nav x-data="{ open: false }" class="bg-white w-full fixed top-0 z-50 py-2 text-navLinks <%= title === 'landing' ? 'lg:bg-transparent lg:text-white lg:transition lg:duration-1000 lg:ease-in-out' : ' ' %>">
  <!-- this container is to set the max width -->
  <div class="nav-container h-full w-10/12 flex items-center justify-between mx-auto lg:max-w-7xl">
    <div class="nav-logo flex items-center gap-2">
      <a href="/">
        <img src="assets/images/logo.svg" alt="logo of the business" class="md:w-20" />
      </a>
      <h2 class="business-name font-heebo text-title font-bold text-2xl md:text-3xl <%= title === 'landing' ? 'lg:text-white' : '' %>">remote.ly</h2>
      
      <!-- hidden on smaller screens. Links show on lg and larger screens -->
     <div class="nav-pages hidden lg:flex lg:items-center lg:gap-4 lg:ml-5 xl:gap-5">
      <a href="/" class="home font-semibold <%= title !== 'landing' ? 'hover:text-green-500 duration-300 ease-in-out' : '' %>">Home</a>
      <a href="/candidate" class="font-semibold <%= title !== 'landing' ? 'hover:text-green-500 duration-300 ease-in-out' : '' %>">Candidate</a>
      <a href="" class="font-semibold <%= title !== 'landing' ? 'hover:text-green-500 duration-300 ease-in-out' : '' %>">Dashboard</a>
    
      <!-- hover drop down in nav links -->
        <div x-data="{ isOpen: false }" class="relative inline-block">
          <div @mouseenter="isOpen = true" @mouseleave="isOpen = false" class="flex items-center justify-center gap-4 cursor-pointer">
              <a href="#" class="font-semibold <%= title !== 'landing' ? 'hover:text-green-500 duration-300 ease-in-out' : '' %>">Job <i class="fa-solid fa-angle-down"></i></a>
          </div>

          <div
            x-show="isOpen"
            @mouseenter="isOpen = true"
            @mouseleave="isOpen = false"
            x-transition:enter="transition ease-out duration-500"
            x-transition:enter-start="opacity-0 transform scale-95"
            x-transition:enter-end="opacity-100 transform scale-100"
            x-transition:leave="transition ease-in duration-500"
            x-transition:leave-start="opacity-100 transform scale-100"
            x-transition:leave-end="opacity-0 transform scale-95"
            class="absolute mt-2 w-40 bg-white border border-gray-300 shadow-lg rounded-md py-2"
          >
            <a href="/jobdetails" class="block px-4 py-2 text-gray-700 hover:bg-gray-100 hover:text-green-500 duration-300 ease-in-out">Job Details</a>
            <a href="/joblist" class="block px-4 py-2 text-gray-700 hover:bg-gray-100 hover:text-green-500 duration-300 ease-in-out">Job List</a>
            <a href="/jobcategories" class="block px-4 py-2 text-gray-700 hover:bg-gray-100 hover:text-green-500 duration-300 ease-in-out">Job Categories</a>
          </div>
        </div>
      </div>
    </div>

    <!-- hamburger icon, hidden on lg screens -->
    <span class="hover:cursor-pointer flex-end lg:hidden" @click="open = !open">
      <i class="fa-solid fa-bars"></i>
    </span>
  
    <div class="nav-buttons hidden lg:flex lg:items-center lg:gap-2">
      <div class="bg-btngreen flex items-center gap-3 py-2 px-4 rounded-md text-white hover:bg-green-700 duration-500 ease-in-out">
        <i class="fa-regular fa-user" style="color: #ffffff"></i>
        <a href="" class="monstreat font-semibold">Login</a>
      </div>
      <div class="bg-btngreen flex items-center gap-3 py-2 px-4 rounded-md text-white hover:bg-green-700 duration-500 ease-in-out">
        <i class="fa-solid fa-briefcase" style="color: #ffffff"></i>
        <a href="" class="monstreat font-semibold">Register</a>
      </div>
    </div>
  
  </div>
 

  <!-- Dropdown menu for mobile -->
  <div x-show="open" class="lg:hidden">
    <!-- Add your dropdown content here -->
    <div class="flex flex-col w-10/12 mx-auto">
      <a href="/" class="home text-title font-semibold text-right p-2 border-b border-gray-500 hover:bg-gray-100">Home</a>
      <a href="/candidate" class="text-title font-semibold text-right p-2 border-b border-gray-500 hover:bg-gray-100">Candidate</a>
      <a href="" class="text-title font-semibold text-right p-2 border-b border-gray-500 hover:bg-gray-100">Dashboard</a>
      <a href="/jobdetails" class="text-title font-semibold text-right p-2 border-b border-gray-500 hover:bg-gray-100">Job Details</a>
      <a href="/joblist" class="text-title font-semibold text-right p-2 border-b border-gray-500 hover:bg-gray-100">Job List</a>
      <a href="/jobcategories" class="text-title font-semibold text-right p-2 border-b border-gray-500 hover:bg-gray-100">Job Categories</a>
    </div>

    <div class="w-10/12 mx-auto pt-2">
      <div class="bg-btngreen flex items-center justify-center gap-3 py-2 px-4 rounded-full w-36 ml-auto hover:bg-green-700 duration-500 ease-in-out">
        <i class="fa-regular fa-user" style="color: #ffffff"></i>
        <a href="" class="text-white font-semibold">Login</a>
      </div>
    </div>
    <div class="w-10/12 mx-auto pt-2">
      <div class="bg-btngreen flex items-center justify-center gap-3 py-2 px-4 rounded-full w-36 ml-auto hover:bg-green-700 duration-500 ease-in-out">
        <i class="fa-solid fa-briefcase" style="color: #ffffff"></i>
        <a href="" class="text-white font-semibold">Register</a>
      </div>
    </div>
    
   
  </div>
</nav>
