<div class="featured-jobs-card p-4">
  <!-- for job classification and heart icon -->
  <div class="featured-jobs-header flex justify-between">
    <% if (["FULL TIME"].includes(header)) { %>
    <span class="font10 fulltime flex items-center font-semibold rounded px-3"><%= header %></span>
    <% } else if (["PART TIME"].includes(header)) { %>
    <span class="font10 part-time flex items-center font-semibold rounded px-3"><%= header %></span>
    <% } else { %>
    <span class="font10 internship flex items-center font-semibold rounded px-3"><%= header %></span>
    <% } %>

    <!-- heart icons -->
    <div class="heart-white bg-btngreen rounded-full py-1 px-2 cursor-pointer" x-data="{ redActive: false }" x-bind:class="{'text-red-500': redActive, 'text-white': !redActive}" x-on:click="redActive = !redActive">
      <i class="fa-solid fa-heart text-white hover:text-red-500 duration-500 ease-in-out" x-bind:class="{'text-red-500': redActive, 'text-white': !redActive}"></i>
    </div>
  </div>

  <!-- contains the image, text, and button -->
  <div class="featured-jobs-content">
    <div class="feauted-jobs-img mx-auto rounded-full overflow-hidden hover:scale-110 hover:cursor-pointer duration-500 ease-in-out">
      <img src="<%= image %>" class="p-1 rounded-full" />
    </div>
    <div class="featured-jobs-text text-center mt-3">
      <h4 class="text-title font-bold text-lg"><%= subHeader %></h4>
      <p class="text-address text-sm"><%= address %></p>
    </div>
  </div>
  <div class="featured-jobs-button buttons2 mx-auto w-max mb-2 rounded mt-6 hover:bg-btngreen hover:text-white duration-500 ease-in-out">
    <button class="px-4 py-2 text-xs">APPLY NOW</button>
  </div>
</div>
