<% title = "dashboard" %>

<div class="mt-20">
    <%- include('../partials/shared/banner', {header: "Dashboard"}); %>
</div>

<% const data = [
{
  logo : "http://utouchdesign.com/themes/envato/escort/assets/img/company_logo_1.png",
  title : "Python Programmer",
  company: "KMC",
  location: "333 Redwood Lane Timberland, UV 57575",
  email : "kmc@global.com",
  posted : "01 Mar 2023"
},
{
  logo : "http://utouchdesign.com/themes/envato/escort/assets/img/company_logo_2.png",
  title : "CMS Development",
  company: "DTN",
  location: "888 Magnolia Drive Blossomville, JK 80234",
  email : "mail@example.com",
  posted : "08 Jun 2023"
},
{
  logo : "http://utouchdesign.com/themes/envato/escort/assets/img/company_logo_3.png",
  title : "PHP Developer",
  company: "Accenture",
  location: "1010 Birch Court Grove City, RT 36912",
  email : "accenture@gmail.com",
  posted : "09 Mar 2023"
},
{
  logo : "http://utouchdesign.com/themes/envato/escort/assets/img/company_logo_4.png",
  title : "Wordpress Developer",
  company: "Yondu",
  location: "789 Pine Street Forestville, LM 13579",
  email : "yondu.com",
  posted : "01 Jan 2023"
},
{
  logo : "http://utouchdesign.com/themes/envato/escort/assets/img/company_logo_5.png",
  title : "Web Maintenance",
  company: "Collabera Inc.",
  location: "2468 Cedar Road Woodland Hills, PQ 24680",
  email : "collabera@email.com",
  posted : "05 May 2023"
},
{
  logo : "http://utouchdesign.com/themes/envato/escort/assets/img/company_logo_6.png",
  title : "Frontend Designer",
  company: "Emapta",
  location: "4321 Oak Avenue Pineville, BC 54321",
  email : "emapta@gmail.com",
  posted : "02 Aug 2023"
},
{
  logo : "http://utouchdesign.com/themes/envato/escort/assets/img/company_logo_7.png",
  title : "Java Developer",
  company: "MicroSourcing",
  location: "555 Maple Lane Lakeside Heights, ZW 98765",
  email : "microsourcing.com",
  posted : "02 Mar 2023"
},
{
  logo : "http://utouchdesign.com/themes/envato/escort/assets/img/company_logo_8.png",
  title : "Python Programmer",
  company: "KMC",
  location: "9876 Willow Avenue Meadowville, XY 12345",
  email : "kmc@gmail.com",
  posted : "08 Feb 2023"
},
{
  logo : "http://utouchdesign.com/themes/envato/escort/assets/img/company_logo_9.png",
  title : "Javascript Developer",
  company: "DXN",
  location: "1234 Elm Street Springfield, FA 56789",
  email : "dxn@gmail.com",
  posted : "05 Jul 2023"
},

]; %>


<!-- container for the whole dashboard section -->
<main class="lg:justify-center">
  <!-- this div is to set the maximum width -->
  <div class="w-10/12 overflow-auto bg-white mx-auto py-20 lg:max-w-5xl xl:max-w-screen-xl">
    <table class="w-full ">
      <thead class="bg-gray-100 text-description">
        <tr>
            <th class="px-5 py-4 font-bold text-left">Title</th>
            <th class="px-5 py-4 font-bold text-left">Location</th>
            <th class="px-5 py-4 font-bold text-left">Email</th>
            <th class="px-5 py-4 font-bold text-left">Posted</th>
            <th class="px-5 py-4 font-bold text-left">Action</th>
        </tr>
      </thead>
      <tbody>
          <% data.forEach(job => { %>
              <tr class="border border-gray-200 hover:bg-gray-100 hover:cursor-pointer duration-300 ease-in-out">
                  <td class="py-3 px-4 md:flex items-center gap-3">
                      <img src="<%= job.logo %>" alt="job logo" class="h-12 w-12 rounded-full p-0.5 border border-gray-200 mr-3">
                      <span class="w-44"><h6 class="text-title font-medium"><%= job.title %></h6></span>
                      <span class="green-highlight"><%= job.company %></span>
                  </td>
                  <td class="py-3 px-4 text-title font-medium"><%= job.location %></td>
                  <td class="py-3 px-4 text-title font-medium"><%= job.email %></td>
                  <td class="py-3 px-4 text-title font-medium"><%= job.posted %></td>
                  <td class="py-3 px-4">
                      <div class="flex space-x-4">
                          <!-- View Icon -->
                          <div class="text-green-500 hover:text-green-600 cursor-pointer">
                              <i class="fas fa-eye" title="View details"></i>
                          </div>

                          <!-- Delete Icon -->
                          <div class="text-red-500 hover:text-red-600 cursor-pointer">
                              <i class="fas fa-trash-alt" title="Delete"></i>
                          </div>
                      </div>
                  </td>
              </tr>
          <% }); %>
      </tbody>
    </table>
  </div>
</main>


<%- include('../partials/shared/newsletter'); %>