<% title = "log-in" %>

<div class="mt-20">
    <%- include('../partials/shared/banner', {header: "Sign In"}); %>
</div>

<div data-aos="fade-out"
      data-aos-easing="linear"
     data-aos-duration="1500">

  <div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8 mb-10">

      <!-- Log in text and Logo -->
      <%- include("../partials/login/header", {Header : "Log In to your account"}) %>        

    <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
      <div class="accountform bg-white px-4 py-8 border sm:rounded-lg sm:px-10">
        <!-- Form Section -->
        <form class="space-y-6" action="#" method="POST">
            <%- include("../partials/login/form-body") %>
            <%- include("../components/atom/button", {Button : "Sign in"}) %>
        </form>

        <!-- or continue with section / social media icon -->
        <div class="mt-6">
            <%- include("../partials/login/header-social") %>
            <%- include("../partials/login/social") %>
        </div>
      </div>
    </div>

</div>

  <script>
    AOS.init();
  </script> 
</div>

<%- include("../partials/shared/newsletter.ejs") %>